<html>
    <head>
        <title>Job Created</title>
        <!-- content redirect after 5s, we escaped the single quotes -->
        <meta http-equiv='refresh' content='3; URL=\'/\'' />
    </head>
    <body>
        <h1>You created a job!</h1>
        <p>
            {{ newjob.getTitle }}
        </p>
        <p>
            This page will redirect to your resume in 5 seconds.
            <!-- :-) -->
        </p>
        <p><a href='/'>View your resume</a></p>
    </body>
</html>
