<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>Resume</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your resume here</h1>

            <form action='/job_created' method='post'>
                <div class='form-group'>
                    <label for='company'>Company</label>
                    <input id='company' name='company' type='text'>
                </div>

                <div class='form-group'>
                    <label for='title'>Job Title</label>
                    <input id='title' name='title' type='text'>
                </div>

                <div class='form-group'>
                    <label for='start_date'>Start Date</label>
                    <input id='start_date' name='start_date' type='date'>
                </div>

                <div class='form-group'>
                    <label for='end_date'>End Date</label>
                    <input id='end_date' name='end_date' type='date'>
                </div>

                <div class='form-group'>
                    <label for='address'>Address</label>
                    <input id='address' name='address' type='text'>
                </div>

                <div class='form-group'>
                    <label for='salary'>Salary</label>
                    <input id='salary' name='salary' type='number'>
                </div>

                <button type='submit'>Add Job</button>

            </form>
        </div>
    </body>
</html>
